@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 9 9 11;
    --foreground: 250 250 250;
  }
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
